body {
    background-color: rgb(203, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Papyrus, sans-serif; 
}

ul {
list-style-type: none;
}

button {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;   
}

.space {
    width: auto;
    height: 50px;
    display: inline-block;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;   
}

img {
    border: 2px solid #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
